
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

#box1 {
    color: red;
    display: flexbox;
    height: 500px;
}

#nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
}

h3 {
    text-align: center;
}
    
h1 {
    text-align: center;
    padding-top: 37px;
    padding-bottom: 36px;
    background-color: red;
}

.floatleft { float: left; }
.floatright { float: right; }
.header-img {
    width: 160px;
    height: 110px;
}
.nav-link { float: right; }
